{% load static %}
<footer id="uc-footer" class="uc-footer panel overflow-hidden px-2 mt-9">
    <div class="footer-outer py-6 lg:py-9 bg-gray-50 dark:bg-gray-900 border-top">
        <div class="container max-w-lg">
            <div class="row g-4 lg:g-6">
                <div class="col-12 col-lg-4">
                    <div class="footer-logo mb-4">
                        <img class="uc-logo w-250px text-gray-900 dark:text-white" src="{% static 'images/fin.svg' %}" alt="Florilegio de la Fe" data-uc-svg>
                    </div>
                    <p class="text-gray-600 dark:text-gray-400">Profundizando en la intimidad con Dios a través del estudio de la Palabra de Dios, la historia de la Iglesia y la vida de los Santos.</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <h5 class="fw-bold mb-4">Navegación</h5>
                    <ul class="nav-y gap-2 fw-medium">
                        <li><a class="hover:text-primary duration-150" href="/">Inicio</a></li>
                        <li><a class="hover:text-primary duration-150" href="#">Teología</a></li>
                        <li><a class="hover:text-primary duration-150" href="#">Biografías</a></li>
                        <li><a class="hover:text-primary duration-150" href="#">Historia</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <h5 class="fw-bold mb-4">Legal</h5>
                    <ul class="nav-y gap-2 fw-medium">
                        <li><a class="hover:text-primary duration-150" href="{% url 'privacy' %}">Privacidad</a></li>
                        <li><a class="hover:text-primary duration-150" href="{% url 'terms' %}">Términos y condiciones</a></li>
                        <li><a class="hover:text-primary duration-150" href="{% url 'contact' %}">Contacto</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-bottom border-top mt-6 py-4 text-center items-center hstack justify-between">
                <p class="m-0 text-gray-600 dark:text-gray-400 fs-7">Florilegio de la Fe © <script>document.write(new Date().getFullYear())</script>, Todos los derechos reservados.</p>
                <div class="footer-social hstack gap-2">
                    <a href="#" class="hover:text-primary duration-150"><i class="icon icon-1 unicon-logo-facebook"></i></a>
                    <a href="#" class="hover:text-primary duration-150"><i class="icon icon-1 unicon-logo-instagram"></i></a>
                    <a href="#" class="hover:text-primary duration-150"><i class="icon icon-1 unicon-logo-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>