{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florilegio de la Fe</title>
    <meta name="description" content="Florilegio de la Fe es un sitio web para profundizar en la intimidad con Dios a través de artículos de teología, historia y biografías.">
    <meta name="keywords" content="teología, fe, cristianos, Dios, evangelio, palabra de Dios, biblia, estudio bíblico, historia de la iglesia, biografías cristianas">
    <meta name="theme-color" content="#2757fd">
    <link rel="shortcut icon" href="{% static 'images/ico.ico' %}" type="image/x-icon">

    <!-- Open Graph Tags -->
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Florilegio de la Fe">
    <meta property="og:description" content="Profundizando en la intimidad con Dios. Artículos, ensayos y biografías.">
    <meta property="og:site_name" content="Florilegio de la Fe">
    <!-- <meta property="og:image" content="{% static 'images/common/seo-image.jpg' %}"> -->

    <!-- preload head styles -->
    <link rel="preload" href="{% static 'css/unicons.min.css' %}" as="style">
    <link rel="preload" href="{% static 'css/swiper-bundle.min.css' %}" as="style">

    <!-- preload footer scripts -->
    <link rel="preload" href="{% static 'js/jquery.min.js' %}" as="script">
    <link rel="preload" href="{% static 'js/scrollmagic.min.js' %}" as="script">
    <link rel="preload" href="{% static 'js/swiper-bundle.min.js' %}" as="script">
    <link rel="preload" href="{% static 'js/anime.min.js' %}" as="script">
    <link rel="preload" href="{% static 'js/data-attr-helper.js' %}" as="script">
    <link rel="preload" href="{% static 'js/swiper-helper.js' %}" as="script">
    <link rel="preload" href="{% static 'js/anime-helper.js' %}" as="script">
    <link rel="preload" href="{% static 'js/anime-helper-defined-timelines.js' %}" as="script">
    <link rel="preload" href="{% static 'js/uikit-components-bs.js' %}" as="script">
    <link rel="preload" href="{% static 'js/app.js' %}" as="script">

    <!-- app head for bootstrap core -->
    <script src="{% static 'js/app-head-bs.js' %}"></script>

    <!-- include uni-core components -->
    <link rel="stylesheet" href="{% static 'css/uni-core.min.css' %}">

    <!-- include styles -->
    <link rel="stylesheet" href="{% static 'css/unicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettify.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

    <!-- include main style -->
    <link rel="stylesheet" href="{% static 'css/demo-four.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- include scripts -->
    <script src="{% static 'js/uni-core-bundle.min.js' %}"></script>
</head>