{% load static %}
<!-- Header start -->
<header class="uc-header header-four uc-navbar-sticky-wrap z-999" data-uc-sticky="start: 200; sel-target: .uc-navbar-container; cls-active: uc-navbar-sticky; animation: uc-animation-slide-top; end: !*;">
    <nav class="uc-navbar-container fs-custom z-1">
        <div class="uc-top-navbar panel z-3 dark:bg-gray-800">
            <div class="container max-w-lg">
                <div class="uc-navbar items-center min-h-48px text-gray-900 dark:text-white" data-uc-navbar=" animation: uc-animation-slide-top-small; duration: 150;">
                    <div class="uc-navbar-left gap-2 md:gap-3">
                        <!-- Mobile Menu Toggle -->
                        <div id="mobile-menu-toggle" class="d-lg-none">
                            <a class="text-dark dark:text-white text-none" href="#uc-menu-panel" data-uc-toggle>
                                <i class="icon unicon-menu fs-4"></i>
                            </a>
                        </div>
                        <!-- Sticky Logo (appears only on scroll) -->
                        <div class="uc-logo sticky-logo dark:text-white">
                            <a href="/">
                                <img class="w-80px sm:w-150px" src="{% static 'images/fin.svg' %}" alt="Logo">
                            </a>
                        </div>
                        <ul class="uc-navbar-nav gap-4 fs-custom fw-medium d-none d-lg-flex" style="--uc-nav-height: 48px">
                            <li><a href="/"><i class="icon icon-1 unicon-home mr-1"></i> Inicio</a></li>
                            <li><a href="{% url 'article_list' %}"><i class="icon icon-1 unicon-book mr-1"></i> Artículos</a></li>
                            <li><a href="{% url 'essay_list' %}"><i class="icon icon-1 unicon-edit mr-1"></i> Ensayos</a></li>
                            <li><a href="{% url 'estudios' %}"><i class="icon icon-1 unicon-notebook mr-1"></i> Estudio</a></li>
                            <li><a href="{% url 'apoyo' %}"><i class="icon icon-1 unicon-favorite mr-1"></i> Apoyo</a></li>
                            <li><a href="{% url 'contact' %}"><i class="icon icon-1 unicon-email mr-1"></i> Contacto</a></li>
                        </ul>
                    </div>
                    <div class="uc-navbar-right gap-2 md:gap-3">
                        <div class="uc-navbar-item">
                            <form action="{% url 'search' %}" method="GET" class="expanding-search-form hstack gap-1">
                                <input class="search-input form-control form-control-sm" type="search" placeholder="Buscar en Florilegio" name="q" value="{{ query|default:'' }}">
                                <button type="submit" class="search-submit btn btn-primary btn-sm px-2">Buscar</button>
                                <a class="search-toggle cstack text-none text-dark dark:text-white" href="#" onclick="document.querySelector('.expanding-search-form').classList.toggle('active'); return false;">
                                    <i class="icon icon-1 fw-bold unicon-search"></i>
                                </a>
                            </form>
                        </div>
                        <div class="uc-modes-trigger d-none w-32px h-32px border fs-4 fw-medium rounded-circle dark:border-white border-opacity-25 text-dark dark:text-white" data-darkmode-toggle="">
                            <label class="switch">
                                <span class="sr-only">Modo oscuro</span>
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Header end -->

<!-- Mobile Offcanvas Menu start -->
<div id="uc-menu-panel" data-uc-offcanvas>
    <div class="uc-offcanvas-bar bg-white dark:bg-gray-900 border-end p-0">
        <div class="panel vstack gap-4 p-4">
            <div class="hstack justify-between items-center">
                <div class="uc-logo mt-2">
                    <a href="/">
                        <img class="w-120px" src="{% static 'images/fin.svg' %}" alt="Logo">
                    </a>
                </div>
                <button id="btn-cerrar-menu" 
                        class="close-menu-btn fs-4 text-dark dark:text-white"
                        onclick="document.getElementById('uc-menu-panel').classList.remove('uc-open'); document.getElementById('uc-menu-panel').style.display='none';"
                        type="button">
                    <i class="unicon-close"></i>
                </button>
            </div>
        <ul class="uc-nav uc-nav-default fs-5 fw-medium vstack gap-4">
            <li><a class="text-dark dark:text-gray-200 text-none" href="/"><i class="icon icon-1 unicon-home me-2 text-primary"></i> Inicio</a></li>
            <li><a class="text-dark dark:text-gray-200 text-none" href="{% url 'article_list' %}"><i class="icon icon-1 unicon-book me-2 text-primary"></i> Artículos</a></li>
            <li><a class="text-dark dark:text-gray-200 text-none" href="{% url 'essay_list' %}"><i class="icon icon-1 unicon-edit me-2 text-primary"></i> Ensayos</a></li>
            <li><a class="text-dark dark:text-gray-200 text-none" href="{% url 'estudios' %}"><i class="icon icon-1 unicon-notebook me-2 text-primary"></i> Estudio</a></li>
            <li><a class="text-dark dark:text-gray-200 text-none" href="{% url 'apoyo' %}"><i class="icon icon-1 unicon-favorite me-2 text-primary"></i> Apoyo</a></li>
            <li><a class="text-dark dark:text-gray-200 text-none" href="{% url 'contact' %}"><i class="icon icon-1 unicon-email me-2 text-primary"></i> Contacto</a></li>
        </ul>
        </div>
    </div>
</div>
<!-- Mobile Offcanvas Menu end -->


