{% load static %}
<div class="newsletter-section my-4 overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-800 p-4 lg:p-8">
    <div class="row items-center g-4">
        <div class="col-12 col-md-6">
            <h3 class="h4 mb-1">Suscríbete a nuestro boletín</h3>
            <p class="text-gray-600 dark:text-gray-400">Recibe artículos semanales sobre teología e historia directamente en tu correo.</p>
        </div>
        <div class="col-12 col-md-6">
            <form action="#" class="row g-2">
                <div class="col">
                    <input type="email" class="form-control form-control-lg border-gray-300 dark:bg-gray-900" placeholder="Tu correo electrónico">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-lg px-4">Suscribirse</button>
                </div>
            </form>
        </div>
    </div>
</div>
