{% load static %}
<!-- include scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/scrollmagic.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/anime.min.js' %}"></script>
<script src="{% static 'js/data-attr-helper.js' %}"></script>
<script src="{% static 'js/swiper-helper.js' %}"></script>
<script src="{% static 'js/anime-helper.js' %}"></script>
<script src="{% static 'js/anime-helper-defined-timelines.js' %}"></script>
<script src="{% static 'js/uikit-components-bs.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script defer src="{% static 'js/mobile-nav.js' %}"></script>

{% block extra_js %}{% endblock %}
